.gradle/
build/
**/build/
/ui/
.idea/
*.iml
*.ipr
*.iws
.vscode/
local.properties
.kotlin/
.artifacts/
.DS_Store
Thumbs.db
capture/
*.apk
*.ap_
*.dex
*.class
.externalNativeBuild/
.cxx/
gradlew
gradlew.bat
gradle/wrapper/
.git/
